<div class="jumbotron container-fluid">
    <div class="col-md-2">
        <form>
            <fieldset>
                <legend>Settings:</legend>
                <label>Board Height</label>
                <input ng-model="settings.boardHeight"/>
                <label>Board Width</label>
                <input ng-model="settings.boardWidth"/>
                <label>Stroke Width</label>
                <input ng-model="settings.strokeWidth"/>
                <label>Draw Radius</label>
                <input ng-model="settings.drawRadius"/>
            </fieldset>
        </form>
    </div>
    <div class="col-md-10">
        <svg ng-attr-height="{{settings.drawRadius * settings.boardHeight}}"
             ng-attr-width="{{settings.drawRadius * settings.boardWidth}}" style="border:1px solid black"
                >
            <rect height="100%" width="100%" fill="#FFF" x="0" y="0"></rect>
            <circle ng-repeat="cell in cellList"
                    ng-attr-cx="{{cell.drawX}}"
                    ng-attr-cy="{{cell.drawY}}"
                    ng-attr-r="{{settings.drawRadius}}"
                    ng-attr-fill="rgb({{256 - cell.id}}, {{256-cell.age}}, {{256-cell.value.mutation}})"
                    ng-attr-stroke="{{settings.strokeColor}}"
                    ng-attr-stroke-width="{{settings.strokeWidth}}"
                    ng-attr-opacity="{{settings.opacity}}"
                    ng-attr-id="{{cell.id}}" r="1">
            </circle>
        </svg>
    </div>
</div>



