<div class="jumbotron container-fluid">
    <div class="col-md-2">
        <form>
            <fieldset>
                <legend>Settings:</legend>
                <label>Board Width</label>
                <input ng-model="settings.boardWidth" type="number"/>
                <label>Cell Width</label>
                <input ng-model="settings.cellWidth" type="number"/>
                <button ng-click="init()">Initialize</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-10">
        <svg ng-attr-height="{{settings.boardWidth * settings.cellWidth}}"
             ng-attr-width="{{settings.boardWidth * settings.cellWidth}}" style="border:1px solid black"
                >
            <rect height="100%" width="100%" fill="#FFF" x="0" y="0"></rect>
            <rect ng-repeat="tree in forest.trees"
                  ng-attr-x="{{tree.x * settings.cellWidth}}"
                  ng-attr-y="{{tree.y * settings.cellWidth}}"
                  ng-attr-fill="rgb(0,{{getAgeColor(tree.age)}},0)"
                  ng-attr-width="{{settings.cellWidth}}" ng-attr-height="{{settings.cellWidth}}"
                    >
            </rect>
            <rect ng-repeat="jack in forest.lumberjacks"
                  ng-attr-x="{{jack.x * settings.cellWidth}}"
                  ng-attr-y="{{jack.y * settings.cellWidth}}"
                  fill="red"
                  ng-attr-width="{{settings.cellWidth}}" ng-attr-height="{{settings.cellWidth}}"
                    >
            </rect>
            <rect ng-repeat="bear in forest.bears"
                  ng-attr-x="{{bear.x * settings.cellWidth}}"
                  ng-attr-y="{{bear.y * settings.cellWidth}}"
                  fill="#9C7035"
                  ng-attr-width="{{settings.cellWidth}}" ng-attr-height="{{settings.cellWidth}}"
                    >
            </rect>
        </svg>
    </div>
</div>



